<!DOCTYPE html>
<html lang="en">



  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Data</title>
    <style>
      article {
        float: left;
        padding: 20px;
        width: 70%;
  
      }
    </style>
  </head>
  <div class="topnav" style="  background-color: #333;
  overflow: hidden;">
    <a class="home" href="/" style="float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;">Home</a>
    <a class="data" href="/data" style="float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;">Data</a>
  </div>
<article>
  <h1 style="color: rgb(0, 92, 128)">Boxplot</h1>
  <p>The boxplot for your scores:</p>
  
  <img
    src="{{url_for('images', filename='boxplot.png')}}"
    width="500"
    height="400"
  />
  <P></P>
  <a href="{{url_for('images', filename='boxplot.png')}}" download><button type="button" class="btn btn-primary">Download</button></a>
  <P></P>
<p>
  <b>Min:</b> {{min |safe}}
</p>
<p>
  <b>Lower Quantile:</b> {{ q1 | safe}}

</p>
<p>
  <b>Median:</b> {{q2 | safe}}

</p>
<p>
  <b>Upper Quantile:</b>  {{q3 | safe}}
</p>
<b>Max:</b> {{max | safe}}
</p>
  <h2>Understanding a Boxplot:</h2>
  <p><b>Summary:</b> A box plot is a chart used in data analysis to visually show
      the distribution of numerical data and skewness through displaying
      the data quartiles (percentiles) and averages. They show the five-number 
      summary of a data set partioned into four even segments:
  </p>

<p></p>
<img
src="{{url_for('static', filename='percents.png')}}"
width="500"
height="200"
/>
  <p><b>Skew:</b> Depending on where the median line is located on the boxplot,
      it will show how evenly the data is distributed. A positive skew would mean that
      generally students did better on the test than the median value. A negative skew
      would mean that students did worse on the test than the median value.
      A median line in the center means the median is an accurate representation of the
      middle test score value. 
  </p>
  <img
  src="{{url_for('static', filename='skew.png')}}"
  width="500"
  height="400"
/>
  <p><b>Outliers:</b> Outliers can skew the data distribution and the mean. It can be calculated
as shown below, and you can view them as a point below or above the minimum and maximum values for the boxplot.
Were there any outliers on your boxplot? Those are the students who either did exceptionally well or poor on your 
quiz/test.</p>
<img
src="{{url_for('static', filename='outliers.png')}}"
width="500"
height="200"
/>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</article>
</html>
