<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Data</title>
  </head>
  <img
    src="{{url_for('static', filename='logo.png')}}"
    width="250"
    height="=250"
  />

  <body style="background-color: lightgray">
    <h1 style="color: green">Your Data:</h1>

    {{ data | safe }}

    <h1 style="color: green">Summary:</h1>
  </body>

  {{ summary_data | safe }}
  <p></p>
  <img
    src="{{url_for('static', filename='boxplot1.png')}}"
    width="500"
    height="400"
  />
  <p></p>
</html>
