<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    body {
      float: left;
      padding: 20px;
      width: 70%;

    }
  </style>
  </head>
  <body> 
      <h1>Error! </h1>
      <h3>Please upload a file as specified by the image below:</h3>
     </body>
     <img
     src="{{url_for('static', filename='example.png')}}"
     width="250"
     height="=250"
   />
   <a href="/">Click here to go back to the DataDash homepage!</a>
</html>