<!DOCTYPE html>
<html lang="en">
    <body style="background-color: lightgray">
  <head>
    <meta charset="UTF-8" />
    <title>Data</title>
  </head>

  <h1 style="color: green">Bar Graph</h1>
  <p>The bar graph for your scores:</p>
  <img
    src="{{url_for('images', filename='frequency.png')}}"
    width="500"
    height="400"
  />
  <p><b>Summary:</b> A bar graph shows how many students scored the same grade for each grade.
    The most frequently scored grades are towards the beginning, where the less frequently scored
    grades are towards the end. 
</p>


  <p></p>
</body>
</html>
