<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>DataDash</title>
  </head>
  <body style="background-color: lightgray">
    <img
      src="{{url_for('static', filename='logo.png')}}"
      width="250"
      height="=250"
    />
    <h2 style="color: darkgreen">A quick and easy way to explore your data!</h2>
    <p>
      Just upload a csv formatted file and get instant statistics on your
      numerical data
    </p>
    <form class="" action="data" method="post">
      <input type="file" name="upload-file" value="" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
